<header class="header">
  <div class="header-left">
    <div class="collapse-btn" id="collapse-btn">
      <span>☰</span>
    </div>
    <div class="breadcrumb" id="breadcrumb">
      <span class="breadcrumb-item">首页</span>
      <span class="breadcrumb-separator">/</span>
      <span class="breadcrumb-item active">待办工作台</span>
    </div>
  </div>
  <div class="header-right">
    <div class="header-action" title="刷新">
      <span>🔄</span>
    </div>
    <div class="header-action" title="全屏">
      <span>⛶</span>
    </div>
    <div class="dropdown">
      <div class="header-action" title="通知">
        <span>🔔</span>
        <span class="status-dot danger" style="position: absolute; top: 6px; right: 6px; width: 6px; height: 6px; margin: 0;"></span>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-item">新用户注册</div>
        <div class="dropdown-item">待审核任务</div>
        <div class="dropdown-item">提现申请</div>
      </div>
    </div>
    <div class="dropdown">
      <div class="user-info">
        <img class="user-avatar" src="../assets/images/avatar-default.svg" alt="管理员">
        <span class="user-name">管理员</span>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-item">个人中心</div>
        <div class="dropdown-item">修改密码</div>
        <div class="dropdown-item">退出登录</div>
      </div>
    </div>
  </div>
</header>
